<ul class="failure">
    <li>
        <?php echo Mage::getStoreConfig('payment/gwap_cc/nautorizado',Mage::app()->getStore()->getStoreId()); ?>
    </li>
</ul>

<div class="buttons-set">
    <button type="button" class="button" title="<?php echo $this->__('Continue Shopping') ?>" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
</div>