<?php 
$_order = $this->getOrder();
$orderAdminDate = $this->formatDate($_order->getCreatedAtDate(), 'medium', true); 
$metodoPagamento = $_order->getPayment()->getMethod();

if($metodoPagamento == 'gwap_cc' || $metodoPagamento == 'gwap_2cc'){
?>

<style>
    input.scalable{
        border-width: 1px;
        border-style: solid;
        border-color: #ed6502 #a04300 #a04300 #ed6502;
        padding: 1px 7px 2px 7px;
        background: #ffac47 url(images/btn_bg.gif) repeat-x 0 100%;
        color: #fff;
        font: bold 12px arial, helvetica, sans-serif;
        cursor: pointer;
        text-align: center !important;
        white-space: nowrap; 
        min-width: 116px;
    }
    input.scalable:hover{
        background: #F77C16;
    }
</style>

<div class="entry-edit" style='width: 400px;'>
    
    <div class="entry-edit-head">
        <h4>Clearsale Start</h4>
    </div>

    <div class="fieldset" style="height: 170px;">
        <div class="hor-scroll">
            <table cellspacing="0" class="form-list">
                <?php //if($_order->getState() != 'new'): ?>
                
                    <tr>
                        <td class="label"><a href="javascript:carregarFrameConsulta();"><button type="button">Consultar análise</button></a></td>
                        <td></td>
                    </tr>                    
                    <tr>
                        <td class="value" colspan="2">
                            <?php
                            $endereco = $_order->getBillingAddress()->getStreet(1);
                            $separado = explode(",", $endereco, 2);
                            if (count($separado) != 2) {
                                $rua_cobranca = trim($_order->getBillingAddress()->getStreet(1));
                                $numero_cobranca = trim($_order->getBillingAddress()->getStreet(2));
                                $complemento_cobranca = trim($_order->getBillingAddress()->getStreet(3));
                                $bairro_cobranca = trim($_order->getBillingAddress()->getStreet(4));
                            } else {
                                $rua_cobranca = trim($separado[0]);
                                $resto = trim($separado[1]);
                                if (strpos($resto, ",")) {
                                    $array = explode(",", $resto, 2);
                                    $numero_cobranca = $array[0];
                                    $complemento_cobranca = $array[1];
                                } else if (strpos($resto, " ")) {
                                    $array = explode(" ", $resto, 2);
                                    $numero_cobranca = $array[0];
                                    $complemento_cobranca = $array[1];
                                } else {
                                    $numero_cobranca = $resto;
                                }
                                $complemento_cobranca .= " " . $_order->getBillingAddress()->getStreet(2);
                            }

                            $endereco = $_order->getShippingAddress()->getStreet(1);
                            $separado = explode(",", $endereco, 2);
                            if (count($separado) != 2) {
                                $rua_entrega = trim($_order->getShippingAddress()->getStreet(1));
                                $numero_entrega = trim($_order->getShippingAddress()->getStreet(2));
                                $complemento_entrega = trim($_order->getShippingAddress()->getStreet(3));
                                $bairro_entrega = trim($_order->getShippingAddress()->getStreet(4));
                            } else {
                                $rua_entrega = trim($separado[0]);
                                $resto = trim($separado[1]);
                                if (strpos($resto, ",")) {
                                    $array = explode(",", $resto, 2);
                                    $numero_entrega = $array[0];
                                    $complemento_entrega = $array[1];
                                } else if (strpos($resto, " ")) {
                                    $array = explode(" ", $resto, 2);
                                    $numero_entrega = $array[0];
                                    $complemento_entrega = $array[1];
                                } else {
                                    $numero_entrega = $resto;
                                }
                                $complemento_entrega .= " " . $_order->getShippingAddress()->getStreet(2);
                            }

                            //Padrão (xx) xxxxxxxx
                            $telefone_ddd = str_replace(' ', '', preg_replace('/[()-]*/', '', $_order->getShippingAddress()->getTelephone()));
                            $ddd_tel = substr($telefone_ddd, 0, 2);
                            $telefone = substr($telefone_ddd, 2, strlen($telefone_ddd)); 

                            $celular_ddd = str_replace(' ', '', preg_replace('/[()-]*/', '', $_order->getShippingAddress()->getCelular()));
                            $ddd_cel = substr($celular_ddd, 0, 2);
                            $celular = substr($celular_ddd, 2, strlen($celular_ddd)); 


                            $total = number_format($_order->getBaseGrandTotal(), 2, ".", "");

                            //Tipo de pagamento:			
                            switch ($metodoPagamento) {
                                case "gwap_cc":
                                    //$cartao = Mage::helper('clearsale')->getCardType($_order->getPayment()->getCcType());
                                    $cartao = $_order->getPayment()->getCcType();
                                    $last4 = $_order->getPayment()->getCcLast4();
                                    $parcelas = $_order->getPayment()->getCcParcelas() ? $_order->getPayment()->getCcParcelas() : 1;
                                    break;
                                case "gwap_2cc":
                                    $cartao = $_order->getPayment()->getCcType();
                                    $last4 = $_order->getPayment()->getAdditionalInformation('gwapCcLast4_2');
                                    $parcelas = $_order->getPayment()->getCcParcelas();
                                    $cartao2 = $_order->getPayment()->getAdditionalInformation('gwapCcType2');
                                    $last4_2 = $_order->getPayment()->getAdditionalInformation('gwapCcLast4_2');
                                    $parcelas2 = $_order->getAdditionalInformation('gwapCcParcelas2');                                    
                                    break;
                                default:
                                break;
                            }

                            $codigoIntegracao = Mage::getStoreConfig('allcash/clearsale/ws_key');

                            $ambiente = Mage::getStoreConfig('allcash/clearsale/ambiente');
                            if ($ambiente == "producao"){
                                $url = "https://www.clearsale.com.br/start/Entrada/EnviarPedido.aspx";
                            }else{
                                $url = "https://homolog.clearsale.com.br/start/Entrada/EnviarPedido.aspx";
                            }

                            
                            
                            if ($codigoIntegracao == false) {
                                echo "<b>Código de Integração da Clearsale não configurado!</b><br/>Por favor configure-o em Sistema -> Configurações -> Gateway.";
                            } else {
                                if($metodoPagamento=='gwap_2cc'){
                                ?> 
                                    <form method="POST" target="clearsale1" action="<?php echo $url ?>">
                                        <input type="hidden" name="CodigoIntegracao" value="<?php echo $codigoIntegracao; ?>" />
                                        <input type="hidden" name="PedidoID" value="<?php echo $_order->getRealOrderId()."_1"; ?>" />
                                        <input type="hidden" name="Data" value="<?php echo $orderAdminDate; ?>" />
                                        <input type="hidden" name="IP" value="<?php echo $_order->getRemoteIp(); ?>" /> 
                                        <input type="hidden" name="Total" value="<?php echo $total ?>" /> 

                                        <input type="hidden" name="TipoPagamento" value="1" /> 
                                        <input type="hidden" name="Parcelas" value="<?php echo $parcelas ?>" /> 
                                        <input type="hidden" name="Cartao_Fim" value="<?php echo $last4 ?>" /> 
                                        
                                        <input type="hidden" name="Cobranca_Nome" value="<?php echo $_order->getCustomerName() ?>" /> 
                                        <input type="hidden" name="Cobranca_Email" value="<?php echo $_order->getCustomerEmail() ?>" /> 
                                        <input type="hidden" name="Cobranca_Documento" value="<?php echo $_order->getCustomerTaxvat() ?>" /> 
                                        <input type="hidden" name="Cobranca_Logradouro" value="<?php echo $rua_cobranca ?>" /> 
                                        <input type="hidden" name="Cobranca_Logradouro_Numero" value="<?php echo $numero_cobranca ?>" /> 
                                        <input type="hidden" name="Cobranca_Logradouro_Complemento" value="<?php echo $complemento_cobranca ?>" /> 
                                        <input type="hidden" name="Cobranca_Bairro" value="<?php echo $bairro_cobranca ?>" /> 
                                        <input type="hidden" name="Cobranca_Cidade" value="<?php echo $_order->getBillingAddress()->getData('city') ?>" /> 
                                        <input type="hidden" name="Cobranca_Estado" value="<?php echo $_order->getBillingAddress()->getData('region') ?>" /> 
                                        <input type="hidden" name="Cobranca_CEP" value="<?php echo $_order->getBillingAddress()->getData('postcode') ?>" /> 
                                        <input type="hidden" name="Cobranca_Pais" value="<?php echo  $_order->getBillingAddress()->getData('country_id') ?>" /> 
                                        <input type="hidden" name="Cobranca_DDD_Telefone" value="<?php echo $ddd_tel ?>" /> 
                                        <input type="hidden" name="Cobranca_Telefone" value="<?php echo $telefone ?>" /> 
                                        <input type="hidden" name="Cobranca_DDD_Celular" value="<?php echo $ddd_cel ?>" /> 
                                        <input type="hidden" name="Cobranca_Celular" value="<?php echo $celular ?>" /> 
                                        
                                        <input type="hidden" name="Entrega_Nome" value="<?php echo $_order->getCustomerName() ?>" /> 
                                        <input type="hidden" name="Entrega_Email" value="<?php echo $_order->getCustomerEmail() ?>" /> 
                                        <input type="hidden" name="Entrega_Documento" value="<?php echo $_order->getCustomerTaxvat() ?>" /> 
                                        <input type="hidden" name="Entrega_Logradouro" value="<?php echo $rua_cobranca ?>" /> 
                                        <input type="hidden" name="Entrega_Logradouro_Numero" value="<?php echo $numero_cobranca ?>" /> 
                                        <input type="hidden" name="Entrega_Logradouro_Complemento" value="<?php echo $complemento_cobranca ?>" /> 
                                        <input type="hidden" name="Entrega_Bairro" value="<?php echo $bairro_cobranca ?>" /> 
                                        <input type="hidden" name="Entrega_Cidade" value="<?php echo $_order->getBillingAddress()->getData('city') ?>" /> 
                                        <input type="hidden" name="Entrega_Estado" value="<?php echo $_order->getBillingAddress()->getData('region') ?>" /> 
                                        <input type="hidden" name="Entrega_CEP" value="<?php echo $_order->getBillingAddress()->getData('postcode') ?>" /> 
                                        <input type="hidden" name="Entrega_Pais" value="<?php echo  $_order->getBillingAddress()->getData('country_id') ?>" /> 
                                        <input type="hidden" name="Entrega_DDD_Telefone" value="<?php echo $ddd_tel ?>" /> 
                                        <input type="hidden" name="Entrega_Telefone" value="<?php echo $telefone ?>" /> 
                                        <input type="hidden" name="Entrega_DDD_Celular" value="<?php echo $ddd_cel ?>" /> 
                                        <input type="hidden" name="Entrega_Celular" value="<?php echo $celular ?>" />

                                        <?php 
                                        $items = Mage::helper('clearsale')->getOrderItems($_order);
                                        $cont = 1;
                                        ?>
                                        <?php foreach($items as $item): ?>
                                        
                                            <input type="hidden" name="Item_ID_<?php echo $cont?>" value="<?php echo $item['ID'] ?>" />                      
                                            <input type="hidden" name="Item_Nome_<?php echo $cont?>" value="<?php echo str_replace('"', '', $item['Name']); ?>" />
                                            <input type="hidden" name="Item_Qtd_<?php echo $cont?>" value="<?php echo $item['Qty'] ?>" />                      
                                            <input type="hidden" name="Item_Valor_<?php echo $cont?>" value="<?php echo $item['ItemValue'] ?>" />                      
                                        
                                        <?php $cont++; 
                                              endforeach; ?>
                                         <input type="submit" value="Enviar Cartão <?php echo $cartao.' - '.$last4 ?>" />
                                    </form>
                            
                                    <form method="POST" target="clearsale2" action="<?php echo $url ?>">
                                        <input type="hidden" name="CodigoIntegracao" value="<?php echo $codigoIntegracao; ?>" />
                                        <input type="hidden" name="PedidoID" value="<?php echo $_order->getRealOrderId()."_2"; ?>" />
                                        <input type="hidden" name="Data" value="<?php echo $orderAdminDate; ?>" />
                                        <input type="hidden" name="IP" value="<?php echo $_order->getRemoteIp(); ?>" /> 
                                        <input type="hidden" name="Total" value="<?php echo $total ?>" /> 

                                        <input type="hidden" name="TipoPagamento" value="1" /> 
                                        <input type="hidden" name="Parcelas" value="<?php echo $parcelas2 ?>" /> 
                                        <input type="hidden" name="Cartao_Fim" value="<?php echo $last4_2 ?>" /> 
                                        
                                        <input type="hidden" name="Cobranca_Nome" value="<?php echo $_order->getCustomerName() ?>" /> 
                                        <input type="hidden" name="Cobranca_Email" value="<?php echo $_order->getCustomerEmail() ?>" /> 
                                        <input type="hidden" name="Cobranca_Documento" value="<?php echo $_order->getCustomerTaxvat() ?>" /> 
                                        <input type="hidden" name="Cobranca_Logradouro" value="<?php echo $rua_cobranca ?>" /> 
                                        <input type="hidden" name="Cobranca_Logradouro_Numero" value="<?php echo $numero_cobranca ?>" /> 
                                        <input type="hidden" name="Cobranca_Logradouro_Complemento" value="<?php echo $complemento_cobranca ?>" /> 
                                        <input type="hidden" name="Cobranca_Bairro" value="<?php echo $bairro_cobranca ?>" /> 
                                        <input type="hidden" name="Cobranca_Cidade" value="<?php echo $_order->getBillingAddress()->getData('city') ?>" /> 
                                        <input type="hidden" name="Cobranca_Estado" value="<?php echo $_order->getBillingAddress()->getData('region') ?>" /> 
                                        <input type="hidden" name="Cobranca_CEP" value="<?php echo $_order->getBillingAddress()->getData('postcode') ?>" /> 
                                        <input type="hidden" name="Cobranca_Pais" value="<?php echo  $_order->getBillingAddress()->getData('country_id') ?>" /> 
                                        <input type="hidden" name="Cobranca_DDD_Telefone" value="<?php echo $ddd_tel ?>" /> 
                                        <input type="hidden" name="Cobranca_Telefone" value="<?php echo $telefone ?>" /> 
                                        <input type="hidden" name="Cobranca_DDD_Celular" value="<?php echo $ddd_cel ?>" /> 
                                        <input type="hidden" name="Cobranca_Celular" value="<?php echo $celular ?>" /> 
                                        
                                        <input type="hidden" name="Entrega_Nome" value="<?php echo $_order->getCustomerName() ?>" /> 
                                        <input type="hidden" name="Entrega_Email" value="<?php echo $_order->getCustomerEmail() ?>" /> 
                                        <input type="hidden" name="Entrega_Documento" value="<?php echo $_order->getCustomerTaxvat() ?>" /> 
                                        <input type="hidden" name="Entrega_Logradouro" value="<?php echo $rua_cobranca ?>" /> 
                                        <input type="hidden" name="Entrega_Logradouro_Numero" value="<?php echo $numero_cobranca ?>" /> 
                                        <input type="hidden" name="Entrega_Logradouro_Complemento" value="<?php echo $complemento_cobranca ?>" /> 
                                        <input type="hidden" name="Entrega_Bairro" value="<?php echo $bairro_cobranca ?>" /> 
                                        <input type="hidden" name="Entrega_Cidade" value="<?php echo $_order->getBillingAddress()->getData('city') ?>" /> 
                                        <input type="hidden" name="Entrega_Estado" value="<?php echo $_order->getBillingAddress()->getData('region') ?>" /> 
                                        <input type="hidden" name="Entrega_CEP" value="<?php echo $_order->getBillingAddress()->getData('postcode') ?>" /> 
                                        <input type="hidden" name="Entrega_Pais" value="<?php echo  $_order->getBillingAddress()->getData('country_id') ?>" /> 
                                        <input type="hidden" name="Entrega_DDD_Telefone" value="<?php echo $ddd_tel ?>" /> 
                                        <input type="hidden" name="Entrega_Telefone" value="<?php echo $telefone ?>" /> 
                                        <input type="hidden" name="Entrega_DDD_Celular" value="<?php echo $ddd_cel ?>" /> 
                                        <input type="hidden" name="Entrega_Celular" value="<?php echo $celular ?>" />

                                        <?php 
                                        $items = Mage::helper('clearsale')->getOrderItems($_order);
                                        $cont = 1;
                                        ?>
                                        <?php foreach($items as $item): ?>
                                        
                                            <input type="hidden" name="Item_ID_<?php echo $cont?>" value="<?php echo $item['ID'] ?>" />                      
                                            <input type="hidden" name="Item_Nome_<?php echo $cont?>" value="<?php echo $item['Name'] ?>" />                      
                                            <input type="hidden" name="Item_Qtd_<?php echo $cont?>" value="<?php echo $item['Qty'] ?>" />                      
                                            <input type="hidden" name="Item_Valor_<?php echo $cont?>" value="<?php echo $item['ItemValue'] ?>" />                      
                                        
                                        <?php $cont++; 
                                              endforeach; ?>
                                         <input type="submit" value="Enviar<?php echo $cartao2.' - '.$last4_2 ?>" />
                                    </form>                            
                            
                                    <script>
                                        function carregarFrameConsulta() {
                                            var iframe = document.getElementById("clearsale1");
                                            iframe.src = "<?php echo $url; ?>?CodigoIntegracao=<?php echo $codigoIntegracao; ?>&PedidoID=<?php echo $_order->getRealOrderId(); ?>";
                                            var iframe = document.getElementById("clearsale2");
                                            iframe.src = "<?php echo $url; ?>?CodigoIntegracao=<?php echo $codigoIntegracao; ?>&PedidoID=<?php echo $_order->getRealOrderId(); ?>";
                                        }                
                                    </script>
                                    <iframe id="clearsale1" src="" width="280" height="85" frameborder="0" scrolling="no"><P>Seu Browser não suporta iframes</P></iframe>
                                    <iframe id="clearsale2" src="" width="280" height="85" frameborder="0" scrolling="no"><P>Seu Browser não suporta iframes</P></iframe>                            
                            <?php }else{ ?>
                                    
                                    <form method="POST" target="clearsaleenvio" action="<?php echo $url ?>" >
                                        <input type="hidden" name="CodigoIntegracao" value="<?php echo $codigoIntegracao; ?>" />
                                        <input type="hidden" name="PedidoID" value="<?php echo $_order->getRealOrderId(); ?>" />
                                        <input type="hidden" name="Data" value="<?php echo $orderAdminDate; ?>" />
                                        <input type="hidden" name="IP" value="<?php echo $_order->getRemoteIp(); ?>" /> 
                                        <input type="hidden" name="Total" value="<?php echo $total ?>" /> 

                                        <input type="hidden" name="TipoPagamento" value="1" /> 
                                        <input type="hidden" name="Parcelas" value="<?php echo $parcelas ?>" /> 
                                        <input type="hidden" name="Cartao_Fim" value="<?php echo $last4 ?>" /> 
                                        
                                        <input type="hidden" name="Cobranca_Nome" value="<?php echo $_order->getCustomerName() ?>" /> 
                                        <input type="hidden" name="Cobranca_Email" value="<?php echo $_order->getCustomerEmail() ?>" /> 
                                        <input type="hidden" name="Cobranca_Documento" value="<?php echo $_order->getCustomerTaxvat() ?>" /> 
                                        <input type="hidden" name="Cobranca_Logradouro" value="<?php echo $rua_cobranca ?>" /> 
                                        <input type="hidden" name="Cobranca_Logradouro_Numero" value="<?php echo $numero_cobranca ?>" /> 
                                        <input type="hidden" name="Cobranca_Logradouro_Complemento" value="<?php echo $complemento_cobranca ?>" /> 
                                        <input type="hidden" name="Cobranca_Bairro" value="<?php echo $bairro_cobranca ?>" /> 
                                        <input type="hidden" name="Cobranca_Cidade" value="<?php echo $_order->getBillingAddress()->getData('city') ?>" /> 
                                        <input type="hidden" name="Cobranca_Estado" value="<?php echo $_order->getBillingAddress()->getData('region') ?>" /> 
                                        <input type="hidden" name="Cobranca_CEP" value="<?php echo $_order->getBillingAddress()->getData('postcode') ?>" /> 
                                        <input type="hidden" name="Cobranca_Pais" value="<?php echo  $_order->getBillingAddress()->getData('country_id') ?>" /> 
                                        <input type="hidden" name="Cobranca_DDD_Telefone" value="<?php echo $ddd_tel ?>" /> 
                                        <input type="hidden" name="Cobranca_Telefone" value="<?php echo $telefone ?>" /> 
                                        <input type="hidden" name="Cobranca_DDD_Celular" value="<?php echo $ddd_cel ?>" /> 
                                        <input type="hidden" name="Cobranca_Celular" value="<?php echo $celular ?>" /> 
                                        
                                        <input type="hidden" name="Entrega_Nome" value="<?php echo $_order->getCustomerName() ?>" /> 
                                        <input type="hidden" name="Entrega_Email" value="<?php echo $_order->getCustomerEmail() ?>" /> 
                                        <input type="hidden" name="Entrega_Documento" value="<?php echo $_order->getCustomerTaxvat() ?>" /> 
                                        <input type="hidden" name="Entrega_Logradouro" value="<?php echo $rua_cobranca ?>" /> 
                                        <input type="hidden" name="Entrega_Logradouro_Numero" value="<?php echo $numero_cobranca ?>" /> 
                                        <input type="hidden" name="Entrega_Logradouro_Complemento" value="<?php echo $complemento_cobranca ?>" /> 
                                        <input type="hidden" name="Entrega_Bairro" value="<?php echo $bairro_cobranca ?>" /> 
                                        <input type="hidden" name="Entrega_Cidade" value="<?php echo $_order->getBillingAddress()->getData('city') ?>" /> 
                                        <input type="hidden" name="Entrega_Estado" value="<?php echo $_order->getBillingAddress()->getData('region') ?>" /> 
                                        <input type="hidden" name="Entrega_CEP" value="<?php echo $_order->getBillingAddress()->getData('postcode') ?>" /> 
                                        <input type="hidden" name="Entrega_Pais" value="<?php echo  $_order->getBillingAddress()->getData('country_id') ?>" /> 
                                        <input type="hidden" name="Entrega_DDD_Telefone" value="<?php echo $ddd_tel ?>" /> 
                                        <input type="hidden" name="Entrega_Telefone" value="<?php echo $telefone ?>" /> 
                                        <input type="hidden" name="Entrega_DDD_Celular" value="<?php echo $ddd_cel ?>" /> 
                                        <input type="hidden" name="Entrega_Celular" value="<?php echo $celular ?>" />

                                        <?php 
                                        $items = Mage::helper('clearsale')->getOrderItems($_order);
                                        $cont = 1;
                                        ?>
                                        <?php foreach($items as $item): ?>
                                        
                                            <input type="hidden" name="Item_ID_<?php echo $cont?>" value="<?php echo $item['ID'] ?>" />                      
                                            <input type="hidden" name="Item_Nome_<?php echo $cont?>" value="<?php echo $item['Name'] ?>" />                      
                                            <input type="hidden" name="Item_Qtd_<?php echo $cont?>" value="<?php echo $item['Qty'] ?>" />                      
                                            <input type="hidden" name="Item_Valor_<?php echo $cont?>" value="<?php echo $item['ItemValue'] ?>" />                      
                                        
                                        <?php $cont++; 
                                              endforeach; ?>
                                            
                                        <input type="submit" class="scalable" value="Enviar Pedido" />
                                    </form>                                    
                                    
                                    <script>
                                        function carregarFrameConsulta() {
                                            var iframe = document.getElementById("clearsaleconsulta");
                                            iframe.src = "<?php echo $url; ?>?CodigoIntegracao=<?php echo $codigoIntegracao; ?>&PedidoID=<?php echo $_order->getRealOrderId(); ?>";
                                        }
                                    </script>
                                    <iframe id="clearsaleconsulta" src="" width="280" height="85" frameborder="0" scrolling="no"><P>Seu Browser não suporta iframes</P></iframe>
                                    <iframe id="clearsaleenvio" width="280" height="85" frameborder="0" scrolling="no"><P>Seu Browser não suporta iframes</P></iframe>
                                    <!--script type="text/javascript">carregarFrame();</script-->
                            <?php }
                            }?>
                        </td>                 
                    </tr>                                      
            </table>    
        </div>
    </div>
    
</div>
<div class="clear"></div>
<br />
<?php } ?>