<?php 
if ($this->isActive()): 
    
    $_sortNumber = $this->getSortNumber();
    $_installmentCode = $this->getPaymentInstallmentCode();
    $_code = $this->getPaymentCode();

    $payment = $this->getRequest()->getPost('payment', array());
    $parcelaAtual = isset($payment['gwap_cc_parcelas']) ? $payment['gwap_cc_parcelas'] : 1;
    
    if ($this->getFormType()): ?>

            <div class="advancedinstallments">
                <?php ?>
                <label class="required"><em>*</em><?php echo $this->__('Número de parcelas') ?></label>
                <div style="clear:both"></div>
                <div class="advancedinstallments-parcelas-<?php echo $this->getPaymentCode(); ?>">
                    <?php foreach ($this->getInstallments(true) as $installment): ?>
                        <input
                            type="radio" <?php if ($installment->getValue() == $parcelaAtual): ?> selected="selected"<?php endif; ?>
                            id="<?php echo $this->getPaymentCode(); ?>_<?php echo $this->getPaymentInstallmentCode().$_sortNumber; ?>"
                            name="payment[<?php echo $this->getPaymentCode(); ?>_<?php echo $this->getPaymentInstallmentCode().$_sortNumber; ?>]"
                            value="<?php echo $installment->getValue(); ?>"
                            <?php echo $installment->getExtraParams(); ?>
                            />
                            <?php echo $installment->getValue() . ' x ' . $installment->getInstallment() . ' ' . $installment->getMessage(); ?>
                        <br />
                    <?php endforeach; ?>
                </div>
                <?php ?>
            </div>

    <?php else: ?>

            <div class="advancedinstallments">
                <?php ?>
                <label class="required"><em>*</em><?php echo $this->__('Número de parcelas:*') ?></label>
                <div style="clear:both"></div>
                <div class="advancedinstallments-parcelas-<?php echo $this->getPaymentCode(); ?>">
                    <select id="select-parcelamento-<?php echo $this->getPaymentCode().$_sortNumber; ?>" name="payment[<?php echo $this->getPaymentCode(); ?>_<?php echo $this->getPaymentInstallmentCode().$_sortNumber; ?>]">
                        <?php foreach ($this->getInstallments(true) as $installment): ?>
                                <option <?php if ($installment->getValue() == $parcelaAtual): ?> selected="selected"<?php endif; ?> value="<?php echo $installment->getValue(); ?>" <?php echo $installment->getExtraParams(); ?>><?php echo $installment->getValue() . ' x ' . $installment->getInstallment() . ' ' . $installment->getMessage(); ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
                <?php ?>
            </div>

    <?php endif; ?>

    <?php if ($this->isOnestep()): ?>
        <script type="text/javascript">
            var onestep_url = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure' => true)); ?>'
            $$('div.advancedinstallments-parcelas-<?php echo $_code; ?> select').invoke('observe', 'change', get_separate_save_methods_function(onestep_url,true));
        </script>
    <?php endif; ?>

    <?php if ($this->isInovartCheckout5()): ?>
        <script type="text/javascript">
            jQuery('.advancedinstallments-parcelas-<?php echo $_code; ?> ').on('change','select',function(){
                checkout.update({
                    'review': 1
                })                    
            })
        </script>
    <?php endif; ?>

    <?php if ($this->isInovartCheckout6()): ?>
    <script type="text/javascript">
        jQuery('.advancedinstallments-parcelas-<?php echo $_code; ?> ').on('change','select',function(){
            OSCPayment.forcesavePayment();
        })
    </script>
<?php endif; ?>

<?php endif; ?>
