<?php if ($this->isActive()): ?>
    <?php if ($this->getFormType()): ?>
        <?php $_installmentCode = $this->getPaymentInstallmentCode(); ?>
        <?php $form = $this->getPaymentFormBlock(); ?>
        <?php $_code = $this->getPaymentCode(); ?>

        <div class="advancedinstallments">
            <?php ?>
            <label class="required"><em>*</em><?php echo $this->__('Número de parcelas') ?></label>
            <div style="clear:both"></div>
            <div class="advancedinstallments-parcelas-<?php echo $this->getPaymentCode(); ?>">
                <?php foreach ($this->getInstallments(true) as $installment): ?>
                    <input
                        type="radio"
                        id="<?php echo $this->getPaymentCode(); ?>_<?php echo $this->getPaymentInstallmentCode(); ?>"
                        name="payment[<?php echo $this->getPaymentCode(); ?>_<?php echo $this->getPaymentInstallmentCode(); ?>]"
                        value="<?php echo $installment->getValue(); ?>"
                        <?php echo $installment->getExtraParams(); ?>
                        />
                        <?php echo $installment->getValue() . ' x ' . $installment->getInstallment() . ' ' . $installment->getMessage(); ?>
                    <br />
                <?php endforeach; ?>
            </div>
            <?php ?>
        </div>

        <?php if ($this->isOnestepActive()): ?>
            <script type="text/javascript">
                var onestep_url = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure' => true)); ?>'
                $$('div.advancedinstallments-parcelas-<?php echo $_code; ?> input').invoke('observe', 'click', get_separate_save_methods_function(onestep_url));
            </script>
        <?php endif; ?>
            
        <?php if ($this->isOnepageActive()): ?>
            <script type="text/javascript">
                jQuery('.advancedinstallments-parcelas-<?php echo $_code; ?> select').live('change',function(){
                    checkout.update({
                        'review': 1
                    })                    
                })
            </script>
        <?php endif; ?>             

    <?php else: ?>
        <?php $_installmentCode = $this->getPaymentInstallmentCode(); ?>
        <?php $form = $this->getPaymentFormBlock(); ?>
        <?php $_code = $this->getPaymentCode(); ?>

        <div class="advancedinstallments">
            <?php ?>
            <label class="required"><em>*</em><?php echo $this->__('Número de parcelas:*') ?></label>
            <div style="clear:both"></div>
            <div class="advancedinstallments-parcelas-<?php echo $this->getPaymentCode(); ?>">
                <select id="select-parcelamento-<?php echo $this->getPaymentCode(); ?>" name="payment[<?php echo $this->getPaymentCode(); ?>_<?php echo $this->getPaymentInstallmentCode(); ?>]">
                    <?php foreach ($this->getInstallments(true) as $installment): ?>
                        <option value="<?php echo $installment->getValue(); ?>" <?php echo $installment->getExtraParams(); ?>><?php echo $installment->getValue() . ' x ' . $installment->getInstallment() . ' ' . $installment->getMessage(); ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
            <?php ?>
        </div>
        <?php if ($this->isOnestepActive()): ?>
            <script type="text/javascript">
                onestep_url = '<?php echo $this->getUrl('onestepcheckout/ajax/set_methods_separate', array('_secure' => true)); ?>'
                $$('div.advancedinstallments-parcelas-<?php echo $_code; ?> select').invoke('observe', 'change', get_separate_save_methods_function(onestep_url));
            </script>
        <?php endif; ?> 

        <?php if ($this->isOnepageActive()): ?>
            <script type="text/javascript">
                jQuery('.advancedinstallments-parcelas-<?php echo $_code; ?> select').change(function(){
                    checkout.update({
                        'review': 1
                    })                    
                })
            </script>
        <?php endif; ?> 

    <?php endif; ?>

<?php endif; ?>
